#root {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#color {
    width: 50%;
    height: 50%;
}

.options {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.controls button{
    border: none;
    border-radius: 20px;
    width: 30px;
    height: 30px;
}